@charset 'utf-8';

$header-height: 60px;
$white: #fff;
$black: #000;
$cinder: #161821;
$cadet-blue: #abb2bf;
$fountain-blue: #56b6c2;
$cornflower-blue: #61afef;
$lavender: #c678dd;
$sunglo: #e06c75;
$harvest-gold: #e5c07b;
$olivine: #98c379;
