@charset 'utf-8';

.homepage-hero {
  padding: 1rem 0;
  text-align: center;

  h1 { margin-bottom: 0; }

  p {
    max-width: 75%;
    margin: 0.6rem 0;
    margin-bottom: 1.6rem;
    font-style: italic;
    font-size: 1.44rem;
  }

  [class*="col-"] {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @media only screen and (max-width: 767px) {
    p { font-size: 1rem; }
  }
}

.btn-wrapper {
  display: flex;
  justify-items: center;
  align-items: center;

  .btn { margin-right: 1rem; }
}
