html,
body,
.book-summary,
.book-header {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important; }

.homepage {
  font-size: 18px; }
  @media only screen and (max-width: 920px) {
    .homepage {
      font-size: 16px; } }
  @media only screen and (max-width: 767px) {
    .homepage {
      font-size: 14px; } }

.homepage h1 {
  font-size: 1.94rem; }

.homepage h3 {
  font-size: 1.55rem; }

.homepage h2 {
  font-size: 1.77rem;
  font-weight: 400; }

.homepage p {
  line-height: 1.6em; }

.homepage a {
  color: #abb2bf;
  text-decoration: underline;
  transition: color 0.15s, background 0.15s; }
  .homepage a:hover {
    color: #e5c07b; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.icon {
  display: inline-flex;
  align-self: center;
  position: relative;
  top: 0.11em;
  width: 1em;
  height: 1em;
  background-size: cover; }
  .icon-right .icon {
    margin-left: 0.4em; }
  .icon-left .icon {
    margin-right: 0.4em; }
  .icon.icon-github {
    background-image: url("../assets/github.svg"); }

.homepage .btn {
  display: inline-block;
  padding: 0.65rem 1.4rem;
  border-radius: 4px;
  font-weight: 700;
  text-decoration: none;
  transition: background 0.15s, color 0.15s; }

.homepage .btn-primary {
  background: #161821;
  color: #abb2bf; }
  .homepage .btn-primary:hover {
    color: #e5c07b; }

.homepage .btn-secondary {
  background: #abb2bf;
  color: #161821; }
  .homepage .btn-secondary:hover {
    background: #fff;
    color: #161821; }

.homepage .btn-ternary {
  background: #98c379;
  color: #161821; }
  .homepage .btn-ternary:hover {
    color: #161821;
    background: #c678dd; }

.homepage-top {
  background: radial-gradient(ellipse at top, #ABB2BF 0%, #8B9AAA 100%);
  padding-bottom: 1rem;
  color: #161821; }
  .homepage-top + .container {
    padding-top: 3rem;
    padding-bottom: 3rem; }

.site-header {
  padding: 1.6rem 0; }
  .site-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  @media only screen and (max-width: 767px) {
    .homepage .site-header nav a:nth-child(1),
    .homepage .site-header nav a:nth-child(4) {
      display: none; }
    .site-header img {
      display: inline-block;
      width: auto;
      max-height: 40px; } }

.site-header-sm {
  padding: 1px 0.4em;
  height: 60px;
  background: #abb2bf;
  font-size: 1.2em; }
  .site-header-sm .container {
    margin: 0.5em; }
  .site-header-sm a {
    font-size: 1em !important; }
  .site-header-sm img {
    display: inline-block;
    width: auto;
    max-height: 40px; }
  @media only screen and (max-width: 767px) {
    .site-header-sm nav a:nth-child(1),
    .site-header-sm nav a:nth-child(2) {
      display: none; } }

.homepage-navigation a {
  padding: 0.3rem 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #161821; }
  .homepage-navigation a:hover {
    background: #e5c07b;
    color: #161821; }

.homepage-hero {
  padding: 1rem 0;
  text-align: center; }
  .homepage-hero h1 {
    margin-bottom: 0; }
  .homepage-hero p {
    max-width: 75%;
    margin: 0.6rem 0;
    margin-bottom: 1.6rem;
    font-style: italic;
    font-size: 1.44rem; }
  .homepage-hero [class*="col-"] {
    display: flex;
    flex-direction: column;
    align-items: center; }
  @media only screen and (max-width: 767px) {
    .homepage-hero p {
      font-size: 1rem; } }

.btn-wrapper {
  display: flex;
  justify-items: center;
  align-items: center; }
  .btn-wrapper .btn {
    margin-right: 1rem; }

.homepage-animation-wrapper {
  position: relative;
  margin: 5rem 0;
  margin-top: 8rem; }

.homepage-animation {
  position: relative;
  z-index: 10; }
  .homepage-animation:before, .homepage-animation:after {
    content: ' ';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    background-image: url("../assets/illustration-back.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    transform: translateX(1%); }
  .homepage-animation:after {
    background-image: url("../assets/illustration-front.svg");
    z-index: 11; }

.homepage .homepage-animation-label {
  position: absolute;
  padding: 0.5rem;
  font-size: 1.9vw;
  font-weight: bold;
  color: #161821;
  text-decoration: none;
  margin-right: -0.5rem; }
  .homepage .homepage-animation-label:hover {
    color: #56b6c2;
    background: #000; }
    .homepage .homepage-animation-label:hover:before {
      color: #161821; }
  .homepage .homepage-animation-label:before {
    content: "|";
    position: absolute;
    bottom: 100%; }
  .homepage .homepage-animation-label:first-child {
    top: 93%;
    right: 86%; }
    .homepage .homepage-animation-label:first-child:before {
      right: 0.5rem; }
  .homepage .homepage-animation-label:nth-child(2) {
    bottom: 110%;
    right: 34.5%;
    top: auto; }
    .homepage .homepage-animation-label:nth-child(2):before {
      right: 50%;
      top: 100%;
      bottom: auto; }
  .homepage .homepage-animation-label:nth-child(3) {
    top: 101%;
    right: 4.5%; }
    .homepage .homepage-animation-label:nth-child(3):before {
      right: 50%; }

@media only screen and (min-width: 1140px) {
  .homepage .homepage-animation-label {
    font-size: 1.44rem; } }

@media only screen and (max-width: 767px) {
  .homepage .homepage-animation-wrapper {
    display: none; } }

.homepage-demo {
  padding: 2rem 0;
  padding-bottom: 3rem;
  background: radial-gradient(ellipse at center, #161821 0%, #020202 100%);
  box-shadow: inset 0 -10px 15px 0 black; }

.img-fluid {
  display: inline-block;
  max-width: 100%;
  width: auto;
  height: auto; }

.homepage-features {
  padding-top: 2rem; }
  .homepage-features .row {
    margin: 4rem 0; }

.feature-illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

@media only screen and (max-width: 767px) {
  .homepage-features .order-first {
    order: unset; } }

.bottom-ctas {
  background: #020202;
  padding: 2rem 0; }
  .bottom-ctas [class*="col-"] {
    display: flex;
    flex-direction: column;
    justify-content: center; }
  .bottom-ctas h3 {
    margin: 0; }
  .bottom-ctas pre {
    width: 100%;
    padding: 0.75rem 1.3rem;
    background: #161821; }

.site-footer {
  padding: 3rem 0; }
  .site-footer img {
    display: inline-flex;
    position: relative;
    max-height: 1.2em;
    align-self: center;
    top: 0.3em;
    width: auto; }

.book.font-family-1 {
  font-family: 'Ubuntu', Helvetica, Arial, sans-serif !important; }

.homepage {
  background: #161821;
  background: linear-gradient(to top, #161821 0%, #0e0f15 100%);
  color: #abb2bf; }

.book {
  height: calc(100% - $header-height); }

.summary .chapter:first-child {
  display: none; }

@media only screen and (min-width: 768px) {
  .book .book-summary {
    left: 0 !important; }
  .book .book-body {
    left: 300px !important; }
  .book-header .js-toolbar-action:first-child {
    display: none; } }
