.trinidady {
  background: $trinidad;
  color: $black;
  a {
    color: $black;
    font-weight: bold;
  }
}

.azury {
  background: $azure-radiance;
  color: $white;
  a {color: $white;}
}

.congressy {
  background: $congress-blue;
  color: $white;
  a {color: $white;}
}

.blacky {
  background: $black;
  color: $white;
  a {color: $white;}
}
