$trinidad: 					#f04c00;

$azure-radiance: 		#0094ff;
$congress-blue: 		#004f88;

$black:						  #000000;
$white:							#ffffff;

$title-font: 				'Montserrat', sans-serif;
$text-font: 				'Open Sans', sans-serif;
