---
notes: |
  ##### Usage : `{{> footer }}`
---
<div class="spacer"></div>
<footer class="trinidady">
  <div class="container text-center">
    <div class="spacer spacer-sm"></div>
    Build with <i class="glyphicon glyphicon-heart"></i> by the <a href="https://github.com/frontend">frontend team</a><br>
    Due to the constant quest of innovation at <a href="http://antistatique.net">Antistatique</a>
    <div class="spacer spacer-sm"></div>
  </div>
</footer>
