@charset "UTF-8";

.sidebar {
  h3 {
    margin-top: 30px;
    font-weight: 	400;
  }
  h3:first-child {margin-top: 8px;}
  @media only screen and (max-width: $screen-xs-max) {
    text-align: left !important;
    h3 {margin-top: 10px;}
  }
}
