@charset 'utf-8';

.homepage-features {
  padding-top: 2rem;
  .row { margin: 4rem 0; }
}

.feature-illustration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 767px) {
  .homepage-features .order-first { order: unset; }
}
