@charset 'utf-8';

.homepage-top {
  background: radial-gradient(ellipse at top, #ABB2BF 0%,#8B9AAA 100%);
  padding-bottom: 1rem;
  color: $cinder;

  & + .container {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.site-header {
  padding: 1.6rem 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.site-header-sm {
  height: $header-height;
  background: gray;
}

.homepage-navigation {
  a {
    padding: 0.3rem 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: $cinder;

    &:hover {
      background: $harvest-gold;
    }
  }
}
