@charset 'utf-8';

.homepage-top {
  background: radial-gradient(ellipse at top, #ABB2BF 0%,#8B9AAA 100%);;
}

.site-header {
  padding: 1.6rem 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.site-header-sm {
  height: $header-height;
  background: gray;
}

.homepage-navigation {
  a {
    padding: 0 1rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: $cinder;

    &:hover { color: $black; }
  }
}
