<header class="congressy">
  <div class="container">
    <div class="spacer"></div>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4 col-md-2 col-md-offset-5">
        <img src="../build/svg/tools.svg" onerror="this.onerror=null; this.src='../build/img/tools.png'" alt="toolbox" class="img-responsive" />
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</header>

<div class="container">
  <div class="col-sm-4 text-right">
    <h3>Getting started</h3>
    <ul class="list-unstyled">
      <li><a href="#">Getting started</a></li>
    </ul>
  </div>
  <div class="col-sm-8">
{{#markdown}}
  {{> get-started }}
{{/markdown}}
  </div>
</div>
