---
notes: |
  ##### Usage : `{{> preheader }}`
---
<div class="blacky text-center preheader">
  <a href="https://github.com/frontend/generator-toolbox"><i class="toolicons toolicons-github"></i> Github repository</a>
</div>
