---
notes: |
  ##### Usage : `{{> sidebar }}`
---
<h4>Getting started</h4>
<ul class="list-unstyled">
  <li><a href="installation.html">Installation & dependencies</a></li>
  <li><a href="generators.html">Generator and sub generators</a></li>
  <li><a href="file-structure.html">File structure</a></li>
  <li><a href="configuration.html">Configuration</a></li>
  <li><a href="tasks.html">Tasks</a></li>
</ul>
<h4>Markup</h4>
<ul class="list-unstyled">
  <li><a href="components.html">Components</a></li>
  <li><a href="data.html">Data</a></li>
  <li><a href="layout.html">Base layouts</a></li>
  <li><a href="templates.html">Templates</a></li>
</ul>

<h4>JavaScript & testing</h4>
<ul class="list-unstyled">
  <li><a href="regression.html">Regression tests</a></li>
  <li><a href="unit.html">Unit tests</a></li>
  <li><a href="navigation.html">Navigation tests</a></li>
</ul>
<h4>Styleguide</h4>
<ul class="list-unstyled">
  <li><a href="overview.html">Overview</a></li>
  <li><a href="docs.html">Docs</a></li>
</ul>
<h4>More</h4>
<ul class="list-unstyled">
  <li><a href="acknowledgements.html">Acknowledgements</a></li>
  <li><a href="license.html">License</a></li>
</ul>
