<div class="congressy">
  <div class="container">
    <div class="spacer spacer-md"></div>
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
        <img src="../build/svg/toolbox-brand.svg" onerror="this.onerror=null; this.src='../build/img/toolbox-brand.png'" alt="toolbox" class="img-responsive" />
      </div>
    </div>
    <div class="spacer spacer-sm"></div>
    <div class="text-center">
      <a href="installation.html" class="btn btn-primary btn-lg">Getting started</a>
      <div class="spacer spacer-sm"></div>
      <a href="https://github.com/frontend/generator-toolbox"><i class="toolicons toolicons-github"></i> Github</a>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <iframe src="https://ghbtns.com/github-btn.html?user=frontend&repo=generator-toolbox&type=star&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=frontend&repo=generator-toolbox&type=fork&count=true" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    </div>
    <div class="spacer"></div>
  </div>
</div>

<div class="trinidady text-center">
  <div class="container">
    <div class="spacer"></div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <h3>
          <div class="spacer spacer-xs"></div>
          <i class="toolicons toolicons-responsive toolicons-4x"></i>
          <div class="spacer spacer-xs"></div>
          <div class="spacer spacer-xs"></div>
          Fully responsive
        </h3>
        <p>
          Like 1.6% of the entire internet, <a href="http://getbootstrap.com/">Bootstrap 3</a> will be an ally of choice to build your website.
        </p>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <h3>
          <i class="toolicons toolicons-atomic toolicons-5x"></i><br>
          Atomic development
        </h3>
        <p>
          Defined by <a href="http://bradfrost.com/blog/post/atomic-web-design/">Brad Frost</a> and implemented by the <a href="http://fbrctr.github.io">Fabricator</a> components structure, atomic development will rock your markup !
        </p>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <h3>
          <i class="toolicons toolicons-styleguide toolicons-5x"></i><br>
          Styleguide oriented
        </h3>
        <p>
          Toolbox use <a href="http://fbrctr.github.io">Fabricator</a> to build the perfect documentation and collaboration tool for frontend development.
        </p>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <h3>
          <div class="spacer spacer-xs"></div>
          <i class="toolicons toolicons-sass toolicons-4x"></i>
          <div class="spacer spacer-xs"></div>
          <div class="spacer spacer-xs"></div>
          Styles preprocessing
        </h3>
        <p>
          <a href="http://sass-lang.com/">SASS</a> based stylesheets offers a clean, maintainable and modular approach of writing CSS.
        </p>
      </div>
    </div>
    <div class="spacer spacer-md"></div>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <h3>
          <i class="toolicons toolicons-task toolicons-5x"></i><br>
          Task running
        </h3>
        <p>
          With <a href="http://gulpjs.com">Gulp</a>, will never need hundred of applications to do recursives tasks, everything is magically automatic.
        </p>
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <h3>
          <div class="spacer spacer-xs"></div>
          <i class="toolicons toolicons-template toolicons-4x"></i>
          <div class="spacer spacer-xs"></div>
          <div class="spacer spacer-xs"></div>
          Templates build
        </h3>
        By using atomic components to build your cms or whatever framework templates, you'll never duplicate markup again.
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <h3>
          <i class="toolicons toolicons-sub toolicons-5x"></i><br>
          Sub generators
        </h3>
        Sub generators helps you to do quickly boring tasks like creating new components, scripts,...
      </div>
      <div class="col-xs-10 col-xs-offset-1 col-sm-3 col-sm-offset-0">
        <h3>
          <i class="toolicons toolicons-test toolicons-5x"></i><br>
          Test environment
        </h3>
        <p>
          Testing is not any more backend's stuff. By combining regression, unit and navigation tests, keep your code always bulletproof.
        </p>
      </div>
    </div>
    <div class="spacer"></div>
  </div>
</div>

<div class="congressy">
  <div class="spacer"></div>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="text-center">Getting started</h2>
        <div class="spacer spacer-sm"></div>
        {{#markdown}}
````bash
$ npm install -g generator-toolbox
$ yo toolbox
````
        {{/markdown}}
        <p class="text-center">
          More informations in the <a href="installation.html">Doc</a> !
        </p>
      </div>
    </div>
  </div>
  <div class="spacer"></div>
</div>

<footer class="blacky">
  <div class="container text-center">
    <div class="spacer"></div>
    Build with <i class="glyphicon glyphicon-heart"></i> by the <a href="https://github.com/frontend">frontend team</a><br>
    Due to the constant quest of innovation at <a href="http://antistatique.net">Antistatique</a>
    <div class="spacer"></div>
  </div>
</footer>
